.patient-overview {
  //background: linear-gradient(135deg,
  //  rgba(0, 0, 0, 0.4) 0%,
  //  rgba(0, 0, 0, 0.2) 50%),
  // asset-url("banner-2.jpg");
  background: linear-gradient(164deg, rgba(95, 139, 239, 0.6) 0%, rgba(176, 153, 218, 0.6) 100%), asset-url("banner-2.jpg");
  background-size: cover;
  background-position: center;
  h2 {
    color: $light-gray;
  }
  h3 {
    color: $light-gray;
  }
}

.nurse-tasks-uncompleted {
  background-color: $light-gray;
  border-radius: 25%;
  width: 144px;
  color: rgb(10, 10, 10);
}
.nurse-patient-info {
  background-color: $light-gray;
  border-radius: 25%;
  width: 144px;
  color: rgb(10, 10, 10);
  .nurse-patient-number h5 {
    font-size: 30px
  }
}

#task-progress {
  position: relative;
  width: 80px;
  height: 80px;

}

