.patient-overview {
  background: linear-gradient(135deg,
              rgba(0, 0, 0, 0.4) 0%,
              rgba(0, 0, 0, 0.2) 50%),
              url(https://res.cloudinary.com/yasumitsu-io/image/upload/v1597473059/banner-3_braxfz.jpg);
  background-size: cover;
  background-position: center;
  h2 {
    color: $light-gray;
  }
  h3 {
    color: $light-gray;
  }
  .nurse-tasks-uncompleted {
    background-color: $light-gray;
    border-radius: 25%;
    width: 144px;
  }
  .nurse-patient-info {
    background-color: $light-gray;
    border-radius: 25%;
    width: 144px;
    .nurse-patient-number h5 {
      font-size: 30px
    }
  }
}

#task-progress {
  position: relative;
  width: 80px;
  height: 80px;

}

