
<div class="main-container">

  <h1><%= @user.name %></h1>



  <% @user.patients.uniq.each do |patient| %>
  <ul>
    <li>
      <p>
        <%= patient.name %>

      </p>
    </li>
  </ul>
  <% end %>



</div>
