<%= render 'shared/banner', user: current_user, patients: @patients, nurses: [current_user] %>
<div class="main-container">
  <div class="container-fluid">
    <%= render 'shared/patient_cards', patients: @patients %>
  </div>
</div>
