#assistence{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: 4px solid #ef9399;
  position: fixed;
  bottom: 60px;
  right: 20px;
}

#assistence:hover{
  background-image: linear-gradient(-45deg, #e5554e, #db261c, #e5554e, #db261c);
  background-size: 400% 400%;
  animation: change 2s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
