.main-container {
  margin: 90px auto;
  width: 1300px;
}

.devise-container {
  display: flex;
  margin: 100px auto;
  width: 800px;
  padding: 100px 100px;
  background-color: $light-gray;
  border-radius: 50px;
  justify-content: center;
  .form-inputs {
    width: 500px;
  }
  .form-actions {
    width: 500px;
    margin: auto;
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .main-container {
    width: 90%;
  }
}

@media (min-width: 576px) {
  .main-container {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .main-container {
    width: 90%;
  }
}

@media (min-width: 992px) and (max-width: 1300px) {
  .main-container {
    width: 90%;
  }
}

@media (min-width: 1400px) {
  .main-container {
    width: 1300px;
  }
}

