.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0px 50px;
  color: rgba(100, 100, 100, 0.8);
}

.footer .fa-heart {
  color: $red;
}
