.navbar-lewagon {
  justify-content: space-between;
  background: white;
  h2 {
    font-weight: bold;
    text-shadow: 2px 2px lightgrey;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-item.unread {
  background-color: #dd8478;
  border: 2px solid  #f4bdb6;
  color: $light-gray;
}
