.patient-cards {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-gap: 16px;
  margin: 0 auto;
  .patient-card {
    // width: 550px;
    // height: 140px;
    // min-width: 400px;
    background-color: $light-gray;
    border-radius: 20px;
    .patient-room-info {
      border-radius: 10%;
      // padding: 40px 20px;
      // width: 140px;
      // height: 140px;
      // background-color: $light-gray;
    }
    .patient-info {
      // width: 360px;
      .patient-info-body {
        p {
          color: $gray;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .patient-info-header {
        display: flex;
        a {
          text-decoration: none;
          color: black;
          &:hover {
            color: rgb(100, 100, 100);
          }
        }
        h2 {
          max-width: 98%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .patient-info-footer {
        h6 {
          font-size: 1.1rem
        }
      }
    }
  }
}

.high-care {
  background-color: #DC8478;
}
.medium-care {
  background-color: #ecc06c;
}
.low-care {
  background-color: #b8cab8;
}
