.task-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  .task-card {
    width: 500px;
    height: 140px;
    .task-patient-info {
      padding: 25px 15px;
      width: 160px;
      height: 140px;
      margin: 0 auto;
      background-color: $purple;
      h5 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .task-info {
      width: 340px;
      padding: 16px;
      background-color: $light-gray;
      .task-info-duration {
        margin: auto;
        text-align: center;
      }
      .task-info-description {
        margin: auto;
      }
    }
  }
}

.task-cards-col {
  max-height: 75vh;
  overflow: scroll;
  .task-card {
    width: 500px;
    height: 140px;
    margin-bottom: 8px;
    .task-patient-info {
      padding: 25px 15px;
      width: 160px;
      height: 140px;
      margin: 0 auto;
      background-color: $purple
    }
    .task-info {
      width: 340px;
      padding: 16px;
      background-color: $light-gray;
      .task-info-duration {
        margin: auto;
        text-align: center;
      }
      .task-info-description {
        margin: auto;
      }
    }
  }
}

.task-card.active {
  width: 540px;
  height: 160px;
  .task-patient-info {
    width: 170px;
    height: 160px;
  }
  .task-info {
    width: 370px;
    .task-info-duration {
      .complete-btn {
        display: block;
      }
    }
  }
}

// Cards in nurse_tasks page
.nurse-task-cards {
  a {
    text-decoration: none;
  }
  .nurse-task-card {
    margin-right: 1em;
    display: flex;
    color: gray;
    .nurse-task-patient-name {
      margin-right: 1em;
      color: $blue;
    }
    .nurse-task-patient-info {
      margin-right: 1em;
    }
    .nurse-task-info-description {
      flex-grow: 1;
    }
    .nurse-task-info-duration {
      margin-left: 1em;
    }
  }
}

.nurse-task-card.active{
  background-color: $blue;
  color: white;
  .nurse-task-patient-name {
    color: white;
  }
}

.highlighted-task{
  background-image: url(https://res.cloudinary.com/yasumitsu-io/image/upload/v1597473059/banner-3_braxfz.jpg);
  background-size: cover;
  height: 30vh;
  font-size: 24px;
  margin-top: 70px;
  color: #382933;
  .nurse-task-patient-name{
    font-size: 32px;
  }
  .nurse-tasks-uncompleted{
    background-color: white;
    border-radius: 5%;
  }
}

.task-cards-col{
  a{
    text-decoration: none;
  }
}
