.task-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  .task-card {
    width: 500px;
    height: 140px;
    .task-patient-info {
      padding: 25px 15px;
      width: 160px;
      height: 140px;
      margin: 0 auto;
      background-color: $purple
    }
    .task-info {
      width: 340px;
      padding: 16px;
      background-color: $light-gray;
      .task-info-duration {
        margin: auto;
        text-align: center;
      }
      .task-info-description {
        margin: auto;
      }
    }
  }
}

.task-cards-col {
  max-height: 75vh;
  overflow: scroll;
  .task-card {
    width: 500px;
    height: 140px;
    margin-bottom: 8px;
    .task-patient-info {
      padding: 25px 15px;
      width: 160px;
      height: 140px;
      margin: 0 auto;
      background-color: $purple
    }
    .task-info {
      width: 340px;
      padding: 16px;
      background-color: $light-gray;
      .task-info-duration {
        margin: auto;
        text-align: center;
      }
      .task-info-description {
        margin: auto;
      }
    }
  }
}

.task-card.active {
  width: 540px;
  height: 160px;
  .task-patient-info {
    width: 170px;
    height: 160px;
  }
  .task-info {
    width: 370px;
    .task-info-duration {
      .complete-btn {
        display: block;
      }
    }
  }
}

.nurse-task-cards {
  .task-card {
    width: 500px;
    height: 140px;
    margin-bottom: 8px;
    .task-patient-info {
      padding: 25px 15px;
      width: 160px;
      height: 140px;
      margin: 0 auto;
      background-color: $purple
    }
    .task-info {
      width: 340px;
      padding: 16px;
      background-color: $light-gray;
      .task-info-duration {
        margin: auto;
        text-align: center;
      }
      .task-info-description {
        margin: auto;
      }
    }
  }
}
